header {
    background: #BBBBBB;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.caixa {
    position: relative;
    width: 940px;
    right: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align:center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.0%;
    padding: 30px 20px;

    box-sizing:border-box;
    border-color: #000000;
    border-width: 2px solid;
    border-style: solid;
    border-radius: 10px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: #CCCCCC;

}

.produtos{
    width: 950px;
    margin: 0 auto;
    padding: 60px 0;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-preco {
    font-size: 22px;
    font-weight:bold;
    margin-top: 10px;
}

.produto-discricao {
    font-size: 20px;
}